*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.species-icon{
    width: 70px;
    cursor:default;
}
.species{
    padding: 50px;
    width: 90%;
}
.species-list{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}
.specie{
    border-radius: 12px;
    display: flex;
    gap: 10%;
}
.specie:hover{
    cursor: pointer;
    background-color: rgba(232, 202, 93, 0.474);
}
.species div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10%;
}